doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="https://org.openticket.tech/css/main.css", rel="stylesheet", type="text/css")
  body
    section.hero.is-fullheight.is-danger.is-bold
      .hero-body
        .container
          h1.title There was a problem performing that action. (#{error.status})
          h2.subtitle Error message:
          .box
            pre #{error.stack}
          p.subtitle If this persists, consider making an issue.
          h2.subtitle
            a(href="/").button.is-inverted.is-danger.is-large.is-outlined Go back
      .hero-foot
        nav.tabs.is-boxed.is-fullwidth
          .container
            ul
              li
                a(href="//org.openticket.tech") Openticket project website
              li
                a(href="//twitter.com/open_ticket") Twitter
              li
                a(href="//openticket.slack.com") Already have an account? Sign in
